# Local .gitignore file for Terraform projects
# Ignore Terraform state files and directories
terraform/.bw-provider-state
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
terraform/./terraform/*
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info

# Ignore TF secrets
terraform/secrets.auto.tfvars
terraform/credentials
terraform/credentials/*

# macOS specific files
.DS_Store

# Logs
*.log

### Local Credential
credentials
credentials/*

### Local Python Setup
Pipfile
Pipfile.lock


### Ansible Setup

