apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes_version_kubeadm }}
controlPlaneEndpoint: "{{ control_plane_name }}:6443"
networking:
  podSubnet: "{{ podSubnet }}"